* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 13, 22);
    font-family: 'Akaya Kanadaka', sans-serif;
    color: whitesmoke;
    text-align: center;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 40px;
}

.screen {
    border: 12px solid rgb(32, 65, 212);
    border-radius: 12px;
    box-shadow: 0 0 80px rgb(32, 65, 212);
    width: 800px;
    height: 450px;
    animation: blink 1.5s infinite alternate;

}

@keyframes blink {
    0% {
        box-shadow:
            0 0 30px rgb(32, 65, 212),
            0 0 50px rgb(32, 65, 212);
        border-color: rgb(32, 65, 212);
    }

    100% {
        box-shadow:
            0 0 50px #ba981c,
            0 0 90px #ba981c;
        border-color: #ba981c;
    }
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    margin-top: 20px;
}

footer button {
    padding: 12px 20px;
    margin: 10px;
    background-color: rgb(32, 65, 212);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 1em;

}